<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="none" />
    <title>Vasyworks API</title>
</head>
<body>
    <h1>Vasyworks API DEMO</h1>
    <h2>マスタ系</h2>
    <ul>
        <li><a href="/master/allow_types/107a0f11c12c465891ab47b39ea15e30" target="_blank">許可種別</a></li>
        <li><a href="/master/areas/107a0f11c12c465891ab47b39ea15e30/26101" target="_blank">エリア</a></li>
        <li><a href="/master/arrival_types/107a0f11c12c465891ab47b39ea15e30" target="_blank">到着種別</a></li>
        <li><a href="/master/balcony_types/107a0f11c12c465891ab47b39ea15e30" target="_blank">バルコニ種別</a></li>
        <li><a href="/master/bath_types/107a0f11c12c465891ab47b39ea15e30" target="_blank">浴室種別</a></li>
        <li><a href="/master/bike_parking_types/107a0f11c12c465891ab47b39ea15e30" target="_blank">駐輪場種別</a></li>
        <li><a href="/master/building_types/107a0f11c12c465891ab47b39ea15e30" target="_blank">建物種別</a></li>
        <li><a href="/master/cities/107a0f11c12c465891ab47b39ea15e30/26" target="_blank">市区町村</a></li>
        <li><a href="/master/cleaning_types/107a0f11c12c465891ab47b39ea15e30" target="_blank">退去時清掃種別</a></li>
        <li><a href="/master/condo_fees_types/107a0f11c12c465891ab47b39ea15e30" target="_blank">共益費種別</a></li>
        <li><a href="/master/deposit_notations/107a0f11c12c465891ab47b39ea15e30" target="_blank">保証金表記</a></li>
        <li><a href="/master/deposit_types/107a0f11c12c465891ab47b39ea15e30" target="_blank">保証金種別</a></li>
        <li><a href="/master/directions/107a0f11c12c465891ab47b39ea15e30" target="_blank">方向</a></li>
        <li><a href="/master/electric_types/107a0f11c12c465891ab47b39ea15e30" target="_blank">電気種別</a></li>
        <li><a href="/master/elementary_schools/107a0f11c12c465891ab47b39ea15e30/26101" target="_blank">小学校区</a></li>
        <li><a href="/master/equipments/107a0f11c12c465891ab47b39ea15e30" target="_blank">設備</a></li>
        <li><a href="/master/existences/107a0f11c12c465891ab47b39ea15e30" target="_blank">有無</a></li>
        <li><a href="/master/facilities/107a0f11c12c465891ab47b39ea15e30" target="_blank">周辺施設</a></li>
        <li><a href="/master/free_rent_types/107a0f11c12c465891ab47b39ea15e30" target="_blank">フリーレント種別</a></li>
        <li><a href="/master/garage_statuses/107a0f11c12c465891ab47b39ea15e30" target="_blank">駐車場空き状況</a></li>
        <li><a href="/master/garage_types/107a0f11c12c465891ab47b39ea15e30" target="_blank">駐車場種別</a></li>
        <li><a href="/master/gas_types/107a0f11c12c465891ab47b39ea15e30" target="_blank">ガス種別</a></li>
        <li><a href="/master/guarantee_types/107a0f11c12c465891ab47b39ea15e30" target="_blank">保証会社種別</a></li>
        <li><a href="/master/insurance_types/107a0f11c12c465891ab47b39ea15e30" target="_blank">火災保険種別</a></li>
        <li><a href="/master/internet_types/107a0f11c12c465891ab47b39ea15e30" target="_blank">インターネット種別</a></li>
        <li><a href="/master/junior_high_schools/107a0f11c12c465891ab47b39ea15e30/26101" target="_blank">中学校区</a></li>
        <li><a href="/master/key_money_notations/107a0f11c12c465891ab47b39ea15e30" target="_blank">一時金表記</a></li>
        <li><a href="/master/key_money_types/107a0f11c12c465891ab47b39ea15e30" target="_blank">一時金種別</a></li>
        <li><a href="/master/kitchen_range_types/107a0f11c12c465891ab47b39ea15e30" target="_blank">キッチンレンジ種別</a></li>
        <li><a href="/master/kitchen_types/107a0f11c12c465891ab47b39ea15e30" target="_blank">キッチン種別</a></li>
        <li><a href="/master/landmarks/107a0f11c12c465891ab47b39ea15e30/10" target="_blank">ランドマーク</a></li>
        <li><a href="/master/landmark_types/107a0f11c12c465891ab47b39ea15e30" target="_blank">ランドマーク種別</a></li>
        <li><a href="/master/layout_type_categories/107a0f11c12c465891ab47b39ea15e30" target="_blank">間取り種別カテゴリ</a></li>
        <li><a href="/master/layout_types/107a0f11c12c465891ab47b39ea15e30" target="_blank">間取り種別</a></li>
        <li><a href="/master/management_types/107a0f11c12c465891ab47b39ea15e30" target="_blank">管理種別</a></li>
        <li><a href="/master/month_days/107a0f11c12c465891ab47b39ea15e30" target="_blank">月間日付</a></li>
        <li><a href="/master/movie_types/107a0f11c12c465891ab47b39ea15e30" target="_blank">動画種別</a></li>
        <li><a href="/master/panorama_types/107a0f11c12c465891ab47b39ea15e30" target="_blank">パノラマ種別</a></li>
        <li><a href="/master/payment_fee_types/107a0f11c12c465891ab47b39ea15e30" target="_blank">支払手数料種別</a></li>
        <li><a href="/master/payment_types/107a0f11c12c465891ab47b39ea15e30" target="_blank">支払種別</a></li>
        <li><a href="/master/pet_types/107a0f11c12c465891ab47b39ea15e30" target="_blank">ペット種別</a></li>
        <li><a href="/master/picture_types/107a0f11c12c465891ab47b39ea15e30" target="_blank">画像種別</a></li>
        <li><a href="/master/prefs/107a0f11c12c465891ab47b39ea15e30" target="_blank">都道府県</a></li>
        <li><a href="/master/railways/107a0f11c12c465891ab47b39ea15e30" target="_blank">沿線</a></li>
        <li><a href="/master/renewal_fee_notations/107a0f11c12c465891ab47b39ea15e30" target="_blank">更新料表記</a></li>
        <li><a href="/master/rental_types/107a0f11c12c465891ab47b39ea15e30" target="_blank">賃貸種別</a></li>
        <li><a href="/master/room_statuses/107a0f11c12c465891ab47b39ea15e30" target="_blank">部屋状況</a></li>
        <li><a href="/master/stations/107a0f11c12c465891ab47b39ea15e30/70" target="_blank">駅</a></li>
        <li><a href="/master/structures/107a0f11c12c465891ab47b39ea15e30" target="_blank">構造</a></li>
        <li><a href="/master/tax_types/107a0f11c12c465891ab47b39ea15e30" target="_blank">税種別</a></li>
        <li><a href="/master/toilet_types/107a0f11c12c465891ab47b39ea15e30" target="_blank">トイレ種別</a></li>
        <li><a href="/master/vacancy_statuses/107a0f11c12c465891ab47b39ea15e30" target="_blank">空室状況</a></li>
        <li><a href="/master/washer_types/107a0f11c12c465891ab47b39ea15e30" target="_blank">洗濯機設置種別</a></li>
        <li><a href="/master/water_cost_types/107a0f11c12c465891ab47b39ea15e30" target="_blank">水道費種別</a></li>
    </ul>
    <h2>会社</h2>
    <ul>
        <li><a href="/company/107a0f11c12c465891ab47b39ea15e30" target="_blank">会社</a></li>
        <li><a href="/company/departments/107a0f11c12c465891ab47b39ea15e30" target="_blank">部署</a></li>
        <li><a href="/company/staffs/107a0f11c12c465891ab47b39ea15e30" target="_blank">スタッフ</a></li>
        <li><a href="/company/staffs/107a0f11c12c465891ab47b39ea15e30/2" target="_blank">部署スタッフ</a></li>
    </ul>
    <h2>書類</h2>
    <ul>
        <li><a href="/documents/107a0f11c12c465891ab47b39ea15e30" target="_blank">ドキュメント</a></li>
    </ul>
    <h2>建物・部屋</h2>
    <ul>
        <li><a href="/building/107a0f11c12c465891ab47b39ea15e30/98d6c2ccd9384062ab5fb4dd61b3e8fc" target="_blank">建物詳細</a></li>
        <li><a href="/room/107a0f11c12c465891ab47b39ea15e30/5073ab83b3204160a947d1ab470a0b2b" target="_blank">部屋詳細</a></li>
    </ul>
    <h2>検索</h2>
    <ul>
        <li><a href="/search/buildings/107a0f11c12c465891ab47b39ea15e30" target="_blank">居住用建物検索</a></li>
        <li><a href="/search/rooms/107a0f11c12c465891ab47b39ea15e30" target="_blank">居住用部屋検索</a></li>
        <li><a href="/search/non_residential_buildings/107a0f11c12c465891ab47b39ea15e30" target="_blank">非居住用建物検索</a></li>
        <li><a href="/search/non_residential_rooms/107a0f11c12c465891ab47b39ea15e30" target="_blank">非居住用部屋検索</a></li>
        <li><a href="/search/garages/107a0f11c12c465891ab47b39ea15e30" target="_blank">月極駐車場検索</a></li>
    </ul>
    <h2>データ連携</h2>
    <ul>
        <li><a href="/data_link/vacancy_rooms/107a0f11c12c465891ab47b39ea15e30?only_res=true" target="_blank">居住用空室データ</a></li>
    </ul>
</body>
</html>